* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff8922;
    /* background: aqua; */
    text-align: center;
}
/* p {
    margin-bottom: 20px;
} */
.one {
    /* text-align-last: center; */
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

/* Direction */
/* .two {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.baseline {
    vertical-align: baseline;
}

.text-top {
    vertical-align: text-top;
}
.text-bottom {
    vertical-align: text-bottom;
} */

a {
    text-decoration: overline underline;
}

h2 {
    text-transform: uppercase;
    text-indent: 10px;
    text-shadow: 0px 5px 5px #ddd;
}

.prac {
    white-space: break-spaces;
}