body {
    background: url(bg.jpg);
    background-attachment: fixed;
}
div {
    background-color: rgba(240, 128, 128, 0.3);
    background-image: url(css.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    

    /* ShortHand */
    background: #f78fb3 url(css.png) no-repeat center ;
}