@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
  font-family: serif;
  font-family: sans-serif;
  font-family: monospace;
  font-family: cursive;
  font-family: fantasy;

  /*Serif Fonts*/
  font-family: "Times New Roman";
  font-family: Georgia;

  /*sans-Serif Fonts*/
  font-family: Arial;
  font-family: Verdana;

  /*monospace Fonts*/
  font-family: "Courier New";

  /*cursive Fonts*/
  font-family: Brush Script MT;

  /*monospace Fonts*/
  font-family: papyrus;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  font-size: 4.06em;
  /* font-size: 100%; */

  font-style: italic;
  /* font-style: oblique;   When You need to font like italic */
  font-style: normal;

  font-weight: 100;
  font-weight: 900;
}
